.back_type{
  background-color: #EAF2FE;
  text-decoration: none;
}
.nav_item{
  color:gray;
  text-decoration: none;
  padding: 5px;
}

.login_back{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding:60px;


}
.middle{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  
  background: linear-gradient(45deg,#050A24 40%,#0B1840);

}
.login{
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 20px;
}
.button{
  margin-top: 20px;
  justify-content: center;
}
.signup_back{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: white;

}
