.back_type {
  background-color: #eaf2fe;
  text-decoration: none;
}
.nav_item {
  color: gray;
  text-decoration: none;
  padding: 5px;
}

.login_back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 60px;
  border-radius: 10px;
}
.middle {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("https://i.ibb.co/SxDb2rk/background.png") no-repeat center center fixed;
  background-size: cover;
}
.login {
  font-family: 'Poppins';
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 20px;
}
.signup_back {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.logo {
  position:absolute;
  top:50px;
  left: 50px;
  width: 102px;
  height: 28px;

  font-family: "Poppins";
  font-style: italic;
  font-weight:bold;
  font-size: 28px;
  line-height: 100%;

  align-items: center;
  letter-spacing: 0.1em;

  color: #ffffff;
}
.btn:hover{
  text-decoration: none;

}

.btn2{
  margin-left : 315px; 
}

.btn3{
  color: white;
}
.btn4{
  margin-left : 283px; 
}
